name: Build Executables

on:
  workflow_call:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pyinstaller-build:
    name: Build PyInstaller Executable (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    #permissions:
    #  contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Build executable
        shell: pwsh
        run: |
          if ("${{ matrix.os }}" -eq "windows-latest") {
              python build_executable.py --mode onefile
          } else {
              python build_executable.py --mode onedir
          }

      - name: Upload artifacts to GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/onedir/*.zip
            dist/onefile/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
